name: Daily Weather Data Fetch

on:
  schedule:
    # Her gün sabah 09:00'da çalış (UTC saatiyle)
    - cron: '0 9 * * *'
  # Elle tetiklemek istersen diye:
  workflow_dispatch:

jobs:
  fetch-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Kodu Çek
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Kütüphaneleri Yükle
        run: |
          pip install pandas requests boto3 python-dotenv

      - name: Veriyi Çek ve S3'e Yükle
        env:
          # GitHub Secrets'taki şifreleri buraya aktarıyoruz
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: "eu-central-1"
        run: |
          python src/data/fetch_data.py