name: MetroCast CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Kodu Çek (Checkout)
      uses: actions/checkout@v3

    - name: Docker Hub'a Giriş Yap
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Buildx Kurulumu (Çoklu Platform İçin)
      uses: docker/setup-buildx-action@v2

    - name: Build ve Push (Linux Sunucu Uyumlu)
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/metrocast-ai:latest
        platforms: linux/amd64

  deploy-to-ec2:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
    - name: SSH ile Sunucuya Bağlan
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST_DNS }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          if ! command -v docker &> /dev/null; then
              sudo apt-get update
              sudo apt-get install -y docker.io
              sudo usermod -aG docker ubuntu
          fi

          sudo docker stop metrocast-container || true
          sudo docker rm metrocast-container || true
          
          sudo docker system prune -af

          sudo docker pull ${{ secrets.DOCKER_USERNAME }}/metrocast-ai:latest

          sudo docker run -d \
            --name metrocast-container \
            -p 80:8000 \
            --restart always \
            -e AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} \
            -e AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }} \
            -e AWS_DEFAULT_REGION=eu-central-1 \
            ${{ secrets.DOCKER_USERNAME }}/metrocast-ai:latest